---
layout: page
title: "Research"
description: "My research projects"
header-img: "img/title.jpeg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="en post-container">
        <h2>Research Overview</h2>
        <hr class="hr0">

        <p>Research overview</p>
    
    <a name="projects"><h5>Research Projects</h5></a>
    
    <ul>
        <li>Control of Nonequilibrium Complex Physical Systems: A Stochastic Control Approach</li>
        <li>Theoretical Modeling of Gene Silencing Induced by Active Enzymes</li>
        <li>Nonequilibrium Statistical Mechanics in Small Systems -- Stochastic Active Brownian Engine</li>
    </ul>
</div>

<div class="en post-container">
        <h2>Control of Nonequilibrium Complex Physical Systems: A Stochastic Control Approach</h2>
        <hr class="hr0">
    <h5>Motivation</h5>
    <p>Because of the complexity in real systems, myriad collective behaviors emerge and are stongly affected by topological structures, interactions, etc. Hence, a natural question for scientists is how to design an optimal protocol/structure optimizing the utility of physical systems or processes. For instance, the microscopic molecular engines, subjected to a well-developed control protocol of optical trap, are promising to attain a high running efficiency or power. For epdemic processes in society, a efficient allocation of medical resources leads to an aborbing phase in which diseases are under control. In this project, I proposed a systematic method to numerically approach the physically allowed near-optimal control protocol for arbitary systems and targets.</p>
    
    <h5>Results</h5>
    <ul>
        <li>Reproduced Langevin bridge method for rare event simulation in published papers;</li>
        <li>Proposed Entropy-Regularized method by applying optimal control theory and revealed its thermodynamics meaning.
            <ul>
                <li>The cost functional is splitted into two terms, utility and regularization. Utility judges how well the control policy is and regularization is packed with all constraints to guarantee the policy is physically reasonable.</li>
                <li>The reasoning based on stochastic analysis leads to an artistical equivalence between the norm of control policy and entropy production in nonequilibrium statistical mechanics. Thus, the optimization of utility is regularized by entropy to avoid a diverging protocol.</li>
                <li>The Hamilton-Jacobi-Bellman equation endows the cost functional with a thermadynamic interpretation, free energy of canonical ensemble in which utility is energy and the strength of regularization is temperature. This result shows a consistency of the entropy regularization.</li>
            </ul>
        </li>
            
        <li>Designed the stochastic gradient descent algorithm for ER in the stochastic analysis framework;</li>
        <li>Realized ER in deterministic time horizon by C++ and proved that ER generalizes Langevin bridge to more complicated situations.</li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <img src="/img/rsc/illustration-optcontrol.png" width="560"  height="480">
                    <div class="caption">
                        Illustration of barrier crossing process with barrier height greater than thermal fluctuation. The control protocol aims to centralize particles around the other basin, namely, changing the position probability distribution from green one to red one.
                    </div>
            </div>
        </div>
     <div class="col-md-12">
            <div class="thumbnail">
                <img src="optcontrol-algorithm.png" width="500" height="350">
                    <div class="caption">
                        Flow diagram of the algorithm.
                    </div>
                    </div>
        </div>
   <!--        <div class="col-md-3">
            <div class="thumbnail">
                <img src="Nanophotonics_fiber.png" width="200" height="180">
                    <div class="caption">
                        Example of optical microfiber.
                    </div>
                    </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="Nanophotonics_ring.png" width="160" height="160">
                    <div class="caption">
                        Field distribution in ring resonator.
                    </div>
                    </div>
        </div> -->
    </div>
    <p><a href="#projects" class="hr0" role="button">Back to Research Projetcs</a></p>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

