---
layout: page
title: "Research"
description: "My research projects"
header-img: "img/IMG_2.jpeg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async>
    </script>

<div class="en post-container">
        <h2>Research Overview</h2>
        <hr class="hr0">
        <p>In my undergraduate and the first semester at Berkeley, my research was mainly in soft conded matter. I conducted research projects regarding active matters, stochastic thermodynamics, stochastic control, etc. Most of those projects were motivated by interesting collective phenomena and my goals were how to interpret and model them with theoretical and numerical approaches. Understanding with models, we can reveal interesting conclusions to guide further research.</p>
        <p>After I learned Stochastic Analysis in senior, I was interested with optimal control theory and wanted to propose a systematic approach to optimize the utility of physical systems. With my interests, I developed an entropy-regularized method and realized it with a C++ package.</p>
        <p>In March 2019, I had an opportunity to meet with Prof. Lin Lin in Berkeley Math to discuss optimal control in quantum computing that brought my interests to quantum information and quantum computing. Thus, my current research is mainly about how to implement control theory in quantum information and quantum computing.</p>
</div>

<div class="en post-container">
    <a name="projects"></a><h2>Research Projects</h2>
    <h5>Quantum Information and Quantum Computing</h5>
    <p>In construction.</p>
    
    <h5>Soft Condensed Matter</h5>
    <ul>
        <li>Control of Nonequilibrium Complex Physical Systems: A Stochastic Control Approach</li>
        <ul>
            <li>Tags: stochastic analysis, protocol design, optimal control</li>
            <li><p><a href="#optcontrol-stocont" class="hr0" role="button">see more</a></p></li>
        </ul>
        <li>Theoretical Modeling of Gene Silencing Induced by Active Enzymes</li>
        <ul>
            <li>Tags: multiscale modeling, biophysics, feedback design</li>
            <li><p><a href="#gene-silencing" class="hr0" role="button">see more</a></p></li>
        </ul>
        <li>Nonequilibrium Statistical Mechanics in Small Systems -- Stochastic Active Brownian Engine</li>
        <ul>
            <li>Tags: microscopic heat engine, stochatic thermodynamics, active matter</li>
            <li><p><a href="#brownian-he" class="hr0" role="button">see more</a></p></li>
        </ul>
    </ul>
</div>

<div class="en post-container">
        <a name="optcontrol-stocont"></a><h2>Control of Nonequilibrium Complex Physical Systems: A Stochastic Control Approach</h2>
        <hr class="hr0">
    <h5>Motivation</h5>
    <p>Because of the complexity in real systems, myriad collective behaviors emerge and are stongly affected by topological structures, interactions, etc. Hence, a natural question for scientists is how to design an optimal protocol/structure optimizing the utility of physical systems or processes. For instance, the microscopic molecular engines, subjected to a well-developed control protocol of optical trap, are promising to attain a high running efficiency or power. For epdemic processes in society, a efficient allocation of medical resources leads to an aborbing phase in which diseases are under control. In this project, I proposed a systematic method to numerically approach the physically allowed near-optimal control protocol for arbitary systems and targets.</p>
    
    <h5>Results</h5>
    <ul>
        <li>Reproduced Langevin bridge method for rare event simulation in published papers;</li>
        <li>Proposed Entropy-Regularized method by applying optimal control theory and revealed its thermodynamics meaning.
            <ul>
                <li>The cost functional is splitted into two terms, utility and regularization. Utility judges how well the control policy is and regularization is packed with all constraints to guarantee the policy is physically reasonable.</li>
                <li>The reasoning based on stochastic analysis leads to an artistical equivalence between the norm of control policy and entropy production in nonequilibrium statistical mechanics. Thus, the optimization of utility is regularized by entropy to avoid diverging protocols.</li>
                <li>The Hamilton-Jacobi-Bellman equation endows the cost functional with a thermadynamic interpretation, free energy of canonical ensemble in which utility is energy and the strength of regularization is temperature. This result shows a consistency of the entropy regularization.</li>
            </ul>
        </li>
            
        <li>Designed the stochastic gradient descent algorithm for Entropy-Regularized method in the stochastic analysis framework and realized a package by C++, refering to github repositories for detail.</li>
            <ul>
                <li>Gradients are calculated by stochastic analysis, spefically, Girsanov theorem and martingales, and numerically evaluated by Monte Carlo.</li>
                <li>The C++ package provides APIs using SGD, Adam or BFGS optimizers to optimize control parameters.</li>
            </ul>
        <li>Proved that Entropy-Regularized method generalizes Langevin bridge to more complicated situations and their asymptotic equivalence as regularized strength approaches 0, namely, without constraints.</li>
    </ul>
    
    <h5>Benchmark</h5>
    <ul>
        <li>The benchmark is a barrier crossing problem where a Brownian particle is trapped by a double-well potential whose barrier height is greater than thermal fluctuation (Fig 1). The physically allowed external interaction is assumed to be laser array equally spaced between two basins with tunable amplitude.</li>
        <li>(Fig 3) Optimal control raises the initial site to gain the crossing. The smaller regularized strenth (\(\lambda\)) is, the larger an optimal control policy will be generated, coincident with expectation that higher utility requires higher price.</li>
        <li>(Fig 4) BFGS optimizer quickly converges in few steps.</li>
    </ul>
    <div class="row">
        <div class="col-xs-6">
            <div class="thumbnail">
                <img src="/img/rsc/optcontrol-illustration.png" width="560"  height="480">
                    <div class="caption">
                        Fig 1. Illustration of barrier crossing process with barrier height greater than thermal fluctuation. The control protocol aims to centralize particles around the other basin, namely, changing the position probability distribution from green one to red one.
                    </div>
            </div>
        </div>
     <div class="col-xs-6">
            <div class="thumbnail">
                <img src="/img/rsc/optcontrol-algorithm.png" width="500" height="350">
                    <div class="caption">
                        Fig 2. Flow diagram of the algorithm.
                    </div>
                    </div>
        </div>
    </div>
    <div class="row">
    <div class="col-xs-6">
            <div class="thumbnail">
                <img src="/img/rsc/optcontrol-optpot.png" width="560" height="480">
                    <div class="caption">
                        Fig 3. Potential energy profile under optimal policy with different regularized strength, \(\lambda\).
                    </div>
                    </div>
        </div>
        <div class="col-xs-6">
            <div class="thumbnail">
                <img src="/img/rsc/optcontrol-costiter.png" width="560" height="480">
                    <div class="caption">
                        Fig 4. Optimization process for different regularized strength, \(\lambda\).
                    </div>
                    </div>
        </div>
    </div>
    <p><a href="#projects" class="hr0" role="button">Back to Research Projetcs</a></p>
</div>


<div class="en post-container">
    <a name="gene-silencing"></a><h2>Theoretical Modeling of Gene Silencing Induced by Active Enzymes</h2>
    <hr class="hr0">
    <h5>Motivation</h5>
    <p>Gene silencing plays an important role in life processes and attracted abundant researchers to propose possible mechanisms to decipher it. According to relevant experiments, the bistable patterns between silencing state and expressive state of chromatin appear due to the attractive interaction between methylated enzymes and methylated histones on chromatin. In earlier reported models, chromatin was treated as a one-dimensional lattice without any configurational information which is essential for biochemical reactions. Hence, I aimed to propose an efficient and robust model to combine phase space evolution and stochastic jump in state space. The multiscale model involves the diffusion and structure in simulation which could provide a clearer physical description and more reliable results than the previous ones.</p>
    
    <h5>Results</h5>
    <ul>
        <li>Learned theories on the biophysical causes and the statistical approaches about gene silencing. (Fig 1) The multiscale modeling was based on the fact that strong attraction between active enzymes and Me histone site can cause condensation. Since histone marks are convertible with reaction, which is mapped to a jump process on state space, the transition parameters were used in feedback design.</li>
        <li>As showned in Fig 2, the algorithm built an interface between diffusion, phase space evolution, and histone mark transition. Due to different time scales of those two dynamics, a proper time scale in multiscale modeling was highly desirable to recover the hybrid process. After data analysis, the parameters in simulation would be updated</li>
        <li>(Fig 3) In time series, sharp transitions between condensed and extended states, silencing and expressive states respectively, revealed the bistability of the model. The stability of extended stage demonstrated the robustness of the model.</li>
        <li>(Fig 4) The probability density distribution of the Me site fraction evidenced the bistability and the near-zero basin standed for sharp transitions.</li>
    </ul>
    
    <div class="row">
        <div class="col-xs-5">
            <div class="thumbnail">
                <img src="/img/rsc/gs-illustration.png" width="560"  height="480">
                    <div class="caption">
                        Fig 1. Chromosomal region with alterable histone marks. Attraction between enzymes and methylated histones induces condensation, hence, gene silencing.
                    </div>
                    </div>
        </div>
        <div class="col-xs-7">
            <div class="thumbnail">
                <img src="/img/rsc/gs-algorithm.png" width="500" height="350">
                    <div class="caption">
                        Fig 2. Illustration of the algorithm. Multiscale simulation of hybrid processes, namely, both diffusion and jump process appear.
                    </div>
                    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="thumbnail">
                <img src="/img/rsc/gs-bistability.png" width="560" height="480">
                    <div class="caption">
                        Fig 3. Bistability between condesed and extended states in simulation. Blue curve: time series filtered by moving average. Yellow shade: fluctuation.
                    </div>
                    </div>
        </div>
        <div class="col-xs-6">
            <div class="thumbnail">
                <img src="/img/rsc/gs-probdist.png" width="560" height="480">
                    <div class="caption">
                        Fig 4. Probability density of Me site fraction with double-peak pattern and feedback scheme.
                    </div>
                    </div>
        </div>
    </div>
    <p><a href="#projects" class="hr0" role="button">Back to Research Projetcs</a></p>
</div>


<div class="en post-container">
    <a name="brownian-he"></a><h2>Nonequilibrium Statistical Mechanics in Small Systems -- Stochastic Active Brownian Engine</h2>
    <hr class="hr0">
    <h5>Motivation</h5>
    <p>According to the latest experimental report, dilute solution with Brownian particles can generate work in analogous Carnot cycle created by tunable harmonic laser. Since the stochastic fluctuation of entropy in small system, the efficiency of that Brownian Carnot engine could be promising to violate the Carnot limit. In addition, the theoretical research on stochastic thermodynamics revealed that the fluctuation theorem, laws of thermodynamics of active Brownian particles should be redefined because of the appearance of self-propulsion. Therefore, I was interested that whether the efficiency or power of Brownian Carnot engine would be promoted if the medium was replaced by active matters. Since abundant proteins in cells can be described by active Brownian particles, the results of this project were promising to be applied to design molecular engines.</p>
    
    <h5>Results</h5>
    <ul>
        <li>Learned non-equilibrium statistical mechanics to understand the theoretical basis of numerical
            sampling methods, such as dissipation function, Crook's Fluctuation theorem and Jarzynski
            equality.</li>
        <li>Programmed C++ to simulate the diffusion of active Brownian particles based on Langevin
            dynamics, sampled thermal quantities through the expression derived from stochastic analysis
            and grasped the framework of reasonable algorithm to simulate Brownian Carnot engine.</li>
        <li>Used Rayleigh-Helmholtz model to describe self-propelled particles and numerically estimated its efficiency.</li>
        <ul>
            <li>\(m\ddot{x} + (\gamma - a + b \dot{x} ^2)\dot{x} = - \nabla U + \xi\), where \(a\) stands for the negative viscocity caused by energy pumped into system, \(b\) stands for increasing viscocity due to the motion. External field is a harmonic laser trap with tunable amplitude, \(U(x, t) = \frac{\lambda(t)}{2} x^2\).</li>
            <li>From phase diagram (Fig 2), the self-propelled heat engine was promising to improve the efficiency. In Fig 3, the improvement was limitted for parameters chosen here. More sophisticated analysis and models were required to efficiently improve the Bronian Carnot engine.</li>
        </ul>
    </ul>
    
    <div class="row">
        <div class="col-xs-7">
            <div class="thumbnail">
                <img src="/img/rsc/bhe-illustration.png" width="560"  height="480">
                    <div class="caption">
                        Fig 1. Control protocol of Bronian Carnot engine which is analogous to Carnot cycle. Increasing stiffness of laser trap results in an increasingly narrow space for particle to move, which means a lower volume.
                    </div>
                    </div>
        </div>
       <!-- <div class="col-xs-5">
            <div class="thumbnail">
                <img src="/img/rsc/gs-algorithm.png" width="500" height="350">
                    <div class="caption">
                        Fig 2. Illustration of the algorithm. Multiscale simulation of hybrid processes, namely, both diffusion and jump process appear.
                    </div>
                    </div>
        </div> -->
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="thumbnail">
                <img src="/img/rsc/bhe-pdiag.png" width="560" height="480">
                    <div class="caption">
                        Fig 2. Phase diagram of parameters in Rayleigh-Helmholtz model. Self-propulsion is promising to improve efficiency.
                    </div>
                    </div>
        </div>
        <div class="col-xs-6">
            <div class="thumbnail">
                <img src="/img/rsc/bhe-rhmodel.png" width="560" height="480">
                    <div class="caption">
                        Fig 3. Efficiency as a function of running duration.
                    </div>
                    </div>
        </div>
    </div>
    <p><a href="#projects" class="hr0" role="button">Back to Research Projetcs</a></p>
</div>
    
<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

